# Neon Serverless Postgres
DATABASE_URL=

# Clerk
THEXJS_CLERK_PUBLISHABLE_KEY=pk_test_a25vd2luZy1tb3NxdWl0by0zODE2LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_khlXB4CPQbJoPvw5XuvekuGbmhg8yKBdn4rGRxiCBp

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Groq AI
GROQ_API_KEY=

# LiveBlocks
LIVEBLOCKS_API_KEY=
THEXJS_LIVEBLOCKS_KEY=