# Neon Serverless Postgres
DATABASE_URL=

# Clerk
THEXJS_PUBLIC_CLERK_PUBLISHABLE_KEY=***REMOVED***
CLERK_SECRET_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Groq AI
GROQ_API_KEY=

# LiveBlocks
LIVEBLOCKS_API_KEY=
THEXJS_PUBLIC_LIVEBLOCKS_KEY=